


<div class="container">
   <div class="wrapper col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
     <p id="notice"><%= notice %></p>
     <h2>Posts</h2>
     <%= link_to '画像投稿画面', new_post_path, class: 'btn btn-primary btn-sm' %>
     <br>
     <br>
     <br>
      <% @posts.each do |post| %>
       <div class="row">
         <table>
           <tr>
             <td><%= profile_img(post.user) %>　</td>
             <td><h5><%= post.user.name %></h5></td>
          </tr>
         </table>
        <table>
          <tr>
            <td>
            <% if post.image? %>
 　　　　　　 <%= image_tag(post.image) %>
　　　　　　  <% end %>
            </td>
          </tr>
          <tr>
            <td><h6><%= post.title %></h6></td>
          </tr>
          <tr>
            <td><h6><%= post.content %></h6></td>
          </tr>
        </table>
        <br>
        <br>
          <%= link_to '投稿画像の詳細', post_path(post.id), class: 'btn btn-success btn-sm'%>
          <%= link_to '投稿画像の編集', edit_post_path(post.id), class: 'btn btn-warning btn-sm'%>
          <%= link_to '投稿画像の削除', post_path(post.id), class: 'btn btn-danger btn-sm', method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>
       </div>
      <% end %>
    </div>
 </div>
